$primary-color      : #FD6F00;
$primary-gradient   : linear-gradient(94.36deg, #FD6F00 3.1%, #E46400 94.54%);
$secondary-color    : #131212;
$body-bg            : #121212;
$body-color         : #959595;
$text-color         : #BABABA;
$text-color2        : #707070;
$text-white         : #FFFFFF;
$white              : #FFFFFF;
$border-color       : #707070;
$font-main          : 'Lato', sans-serif;

// Font sizes
$font-size-base     : 16px;
$font-size-lg       : 1.25rem; // 20px
$font-size-sm       : 0.875rem; // 14px
$font-size-xs       : 0.75rem; // 12px

// Line heights
$line-height-base   : 1.5;
$line-height-lg     : 1.75;
$line-height-sm     : 1.25;

// Radius
$border-radius      : 5px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

