// Home Section ==
.home {
    display: flex;
    align-items: center;
    .home-content{
        position: relative;
        z-index: 1;
        .star-vector{
            position: absolute;
            top: -80px;
            right: 0;
            @include transMedium;
            z-index: -1;
            width: 600px;
            height: 516px;
        }
        .home-text{
            font-size: 24px;
            font-weight: 600;
            display: inline-block;
            color: $text-color2;
            margin-bottom: 10px;
        }
        .home-name{
            font-size: 28px;
            font-weight: 700;
            color: $body-color;
            display: inline-block;
        }
        .home-profession{
            font-size: 55px;
            font-weight: 900;
            display: block;
            margin-top: 24px;
            margin-bottom: 30px;
            background: $primary-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
        .cta-area{
            margin-top: 50px;
            display: flex;
            gap: 24px;
            .theme-btn{
                padding: 15px 30px;
                border-radius: 8px;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                @include transMedium;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    box-shadow: 0 8px 15px rgba($primary-color, 0.3);
                    transform: translateY(-2px);
                }
            }
        }
    }
    .home-image-wrapper {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 40px;
            right: 50%;
            transform: translateX(50%);
            width: 600px;
            height: 600px;
            background: rgba($white, 0.04);
            z-index: -1;
            border-radius: 50%;
        }

        .banner-image {
            position: relative;
            height: 780px;
            overflow: hidden;
            img {
                width: 100%;
                height: 95%;
                object-fit: contain;
                filter: grayscale(100%);
                border-radius: 45%;
            }
        }
    }
    .stats-box {
        display: flex;
        align-items: center;
        background: rgba($white, 0.04);
        padding: 24px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        margin-top: 80px;
        width: fit-content;
        .stat-item {
            text-align: start;
            padding: 6px 30px 6px 0;
            margin-right: 30px;
            border-right: 1px solid;
            &:last-child {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
        .stat-item h2 {
            color: $primary-color;
            font-size: 24px;
            margin-bottom: 8px;
            font-weight: 600;
        }
        .stat-item p {
            font-size: 20px;
            font-weight: 500;
            color: $text-white;
        }
    }
}

.social-links{
    display: flex;
    align-items: center;
    gap: 20px;
    .link{
        font-size: 20px;
        color: $text-color;
        width: 40px;
        height: 40px;
        font-size: 18px;
        border: 1px solid $border-color;
        background-color: rgba($white, 0.04);
        border-radius: 50%;
        @include flex-center;
        @include transMedium;
        i{
            line-height: 20px;
        }
        &:hover{
            border-color: $primary-color;
            color: $text-white;
            background-color: rgba($primary-color, 1);
        }
    }
}